.text-p{
    color: #6047EC;
}
.pdf-border{
    border: 1px solid #eaeaea;
}
.custom-border-pdf{
    border: 1px solid #eaeaea;
    padding: 10px;
}
.bill-btn{
    border: none;
    background-color: #6047EC;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 2px;
}