.main-header{
    position: sticky;
    top: 0;
}
.header{
    background-color: #1e2b47bc;
    
}

.logo img{
    height: 70px;
    width: 80px;
    border-radius: 10px;

}
.profile-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.header-link a{
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
}


.dark-icon{
    font-size: 25px;
}

.navbar-toggler-icon{
    color: #fff;
}

.logo-custom{
    text-decoration: none;
}
.log-out{
    border: none;
    background-color: #6047EC;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 2px;
}
.header-text{
    color: #54B435;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .header-link{
        flex-direction: column;
    }
}




